<ion-view view-title="Cuenta">
  <ion-content>
	 <div class="list">
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-person"></i>
		    Perfil
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-telephone assertive"></i>
		    Teléfonos rápidos
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-radio-waves"></i>
		    Tipos de alerta
		  </a>
		  
		  <div class="item item-divider">
		    Lugares
		  </div>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-home"></i>
		    Hogar
		     <span class="item-note">
		      504
		    </span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-person-stalker"></i>
		    Miembro de comunidad
		    <span class="badge badge-assertive">Edificio xxx</span>
		  </a>
	</div>
  </ion-content>
</ion-view>
